doctype html
html(lang='en')

html
    head
        title Movie - #{movie.Title}
        style
            include .\styles\movie.css
body
    include .\header
    div#main
        h2 #{movie.Title}
        div#img
            img(src = movie.Poster)
            br
            <form action="/addWatchlist" method="GET">
                <input type="submit" value="Add to watchlist">
            </form>
        div#info
            h3 Movie Info: 
            b Plot: #{movie.Plot}
            br
            b Year: #{movie.Year}
            br
            b Rated: #{movie.Rated}
            br
            b Released: #{movie.Released}
            br
            b Runtime: #{movie.Runtime} 
            br 
            br
            b Genre:
            each genre in movie.Genre
                br
                a(href="/searchresults/"+genre) #{genre}
            br
            br
            div#people
                h3 Credits: 
                b Director:
                each director in movie.Director 
                    br
                    a(href="/person/"+director) #{director}
                br
                br
                b Writer:
                each writer in movie.Writer
                    br
                    a(href="/person/"+writer) #{writer}
                br
                br
                b Actors:
                each actor in movie.Actors 
                    br
                    a(href="/person/"+actor) #{actor}
                br
            div#awards
                h3 Awards: 
                b #{movie.Awards} 
        div#reviews 
            h3 Reviews:
            each review in movie.Reviews
                br
                h Reviewer: 
                a(href="/profile/"+review.user) #{review.reviewer}
                br
                h Score: #{review.score}
                br 
                h Summary: #{review.sum}
                br
                a(href="/review/"+review.id) Full Review
                br
                br

            

            <form action="/addReview" method="POST">
                <label for="reviewScore">Review Score: </label>
                <input id="reviewScore" type="text" name="reviewScore">
                br
                br
                <label for="sumReview">Review Summary: </label>
                <input id="sumReview" type="text" name="sumReview">
                br
                br
                <label for="fullReview">Full Review Text: </label>
                <input id="fullReview" type="text" name="fullReview">
                br
                br
                <input type="submit" value="Add Review">
            </form>
            