doctype html

html
    head
        title Movie - #{movie.Title}
body
    include .\header
    div#main
        h1 #{movie.name}
        div#img
            img(src = movie.Poster)
        div#info
            h3 Movie Info: 
            b Plot: #{movie.Plot}
            br
            b Year: #{movie.Year}
            br
            b Rated: #{movie.Rated}
            br
            b Released: #{movie.Released}
            br
            b Runtime: #{movie.Runtime} 
            br 
            b Genre: #{movie.Genre}
            br
        div#people
            h2 Credits: 
            b Director: #{movie.Director}
            br
            b Writer: #{movie.Writer}
            br
            b Actors: #{movie.Actors}
            br
        div#awards
            h3 Awards: 
            b #{movie.Awards} 

            