doctype html
html(lang='en')

html
    head
        title Movie - #{movie.Title}
        style
            include .\styles\movie.css
body
    include .\header
    div#main
        h2 #{movie.Title}
        div#img
            img(src = movie.Poster)
            br
            button(name ='add_watchlist',onclick='add_watchlist(movie.Title)') Add to Watchlist
        div#info
            h3 Movie Info: 
            b Plot: #{movie.Plot}
            br
            b Year: #{movie.Year}
            br
            b Rated: #{movie.Rated}
            br
            b Released: #{movie.Released}
            br
            b Runtime: #{movie.Runtime} 
            br 
            br
            b Genre:
            each genre in movie.Genre
                br
                a(href="/search") #{genre}
            br
            br
        div#people
            h3 Credits: 
            b Director:
            each director in movie.Director 
                br
                a(href="/person") #{director}
            br
            br
            b Writer:
            each writer in movie.Writer
                br
                a(href="/person") #{writer}
            br
            br
            b Actors:
            each actor in movie.Actors 
                br
                a(href="/person") #{actor}
            br
        div#awards
            h4 Awards: 
            b #{movie.Awards} 
        div#reviews 
            h3 Reviews:
            p 10/10 Smelled great! 
                a(href="/review") View Details
            
            label(for='reviewScore')
            span.
                Review Score: 
            input(type="text" name="reviewScore" placeholder=" " size="1")
            button(name ='basicReview',onclick='basicReview(input)') Submit Basic Review
            br
            br
            label(for='sumReview')
            span.
                Review Summary: 
            input(type="text" name="sumReview" placeholder="")
            br
            br
            label(for='fullReview')
            span.
                Full Review Text: 
            input(type="text" name="bFullReview" placeholder="")
            br
            br
            button(name ='bFullReview',onclick='fullReview(input)') Submit Full Review
            

            