doctype html
html(lang='en')

html
    head
        title Movie - #{movie.Title}
        style
            include .\styles\movie.css
body
    include .\header
    div#main 
        br
        br
        h1 PogChamp movieDB
    div#info
        h2 #{movie.Title}
        div#img
            img(src = movie.Poster)
            br
            div#buttons
                <form action="/addWatchlist" method="GET">
                    <input type="submit" value="Add to watchlist">
                </form>
                <form action="/removeWatchlist" method="GET">
                    <input type="submit" value="Remove from watchlist">
                </form>
            br
        div#movieinfo
            h3 Movie Info: 
            h4 Plot: 
            p #{movie.Plot}
            h4 Year: 
            p #{movie.Year}
            h4 Rated: 
            p #{movie.Rated}
            h4 Released: 
            p #{movie.Released}
            h4 Runtime: 
            p #{movie.Runtime} 
            h4 Genre:
            each genre in movie.Genre
                a(href="/searchresults/"+genre) #{genre}
                br
            div#people
                h3 Credits: 
                b Director:
                each director in movie.Director 
                    br
                    a(href="/person/"+director) #{director}
                br
                br
                b Writer:
                each writer in movie.Writer
                    br
                    a(href="/person/"+writer) #{writer}
                br
                br
                b Actors:
                each actor in movie.Actors 
                    br
                    a(href="/person/"+actor) #{actor}
                br
            div#awards
                h3 Awards: 
                b #{movie.Awards} 
            div#similar 
                h3 Similar Movies: 
                each sim in similar 
                    a(href="/movie/"+sim.ID) #{sim.Title}
                    br
            div#review
                h3 Reviews:
                each review in movie.Reviews
                    br
                    h Reviewer: 
                    a(href="/profile/"+review.reviewer) #{review.reviewer}
                    br
                    h Score: #{review.score}
                    br 
                    h Summary: #{review.sum}
                    br
                    a(href="/review/"+review.id) Full Review
                    br
                    br
        div#reviews 
            <form action="/addReview" method="POST">
                <label for="reviewScore">Review Score: </label>
                <input id="reviewScore" type="text" name="reviewScore">
                br
                br
                <label for="sumReview">Review Summary: </label>
                <input id="sumReview" type="text" name="sumReview">
                br
                br
                <label for="fullReview">Full Review Text: </label>
                <input id="fullReview" type="text" name="fullReview">
                br
                br
                <input type="submit" value="Add Review">
            </form>
            