doctype html

html
    head
        title Movie - #{movie.Title}
body
    include .\header
    div#main
        h1 #{movie.Title}
        div#img
            img(src = movie.Poster)
        div#info
            h3 Movie Info: 
            b Plot: #{movie.Plot}
            br
            b Year: #{movie.Year}
            br
            b Rated: #{movie.Rated}
            br
            b Released: #{movie.Released}
            br
            b Runtime: #{movie.Runtime} 
            br 
            br
            b Genre:
            each genre in movie.Genre
                br
                a(href="/genre/" + genre) #{genre}
            br
            br
        div#people
            h2 Credits: 
            b Director:
            each director in movie.Director 
                br
                a(href="/person/" + director) #{director}
            br
            br
            b Writer:
            each writer in movie.Writer
                br
                a(href="/person/" + writer) #{writer}
            br
            br
            b Actors:
            each actor in movie.Actors 
                br
                a(href="/person/" + actor) #{actor}
            br
        div#awards
            h3 Awards: 
            b #{movie.Awards} 

            