doctype html
html(lang='en')

html
    head
        title PogDB - #{user.name}'s Profile
        style
            include .\styles\ownProfile.css
body
    include .\header
    div#main
        br
        br
        h1 PogChamp movieDB
    div#info
        h2  Account: #{user.name}
        div#userType
            if user.contributor == true 
                h4 Account Type: Contributing 
            else
                h4 Account Type: Regular 
            div#switch-field
                <form action="/updateUser" method="POST">
                    <input id="regular" type="radio" name="userType" value="0">
                    <label for="regular">Regular </label>
                    br
                    <input id="contributing" type="radio" name="userType" value="1">
                    <label for="contributing">Contributing </label>
                    br
                    br
                    <input type="submit" value="Save">
                </form>
        div#followingPeople
            if user.followingPersons.length > 0
                h3 People you follow: 
                each person in user.followingPersons
                    a(href='/person/'+person)  #{person}
                    br
        div#followingUser
            if user.following.length > 0
                h3 Users you follow: 
    
                each userID in user.following
                    a(href='/profile/'+userID) #{userID}
                    br
        div#WatchList
            if user.watchlist.length > 0
                h3 Watch List: 
                each movie in user.watchlist
                    a(href='/movie/'+movie.ID) #{movie.Title}
                    br
        div#Recommends 
            if similar.length > 0
                h3 Recommended Movies: 
                each movie in similar
                    a(href='/movie/'+movie.ID) #{movie.Title}
                    br
        div#Reviews 
            if user.reviews.length > 0
                h3 Reviews: 
                each review in user.reviews 
                    a(href="/review/"+review.id) Review
                    h  Score: #{review.score}
                    h  Summary: #{review.sum}
        div#notifications 
            if user.notifications.length > 0
                h3 Notification Center:
                each notif in user.notifications 
                    a(href=notif.url) #{notif.infoStr}
                    br
        br