doctype html
html(lang='en')

html
    head
        title Your Profile
        style
            include .\styles\ownProfile.css
body
    include .\header
    div#main
        h1 Username: #{user.name}
    div#userType
        div#switch-field
            <form action="/updateUser" method="POST">
                <input id="regular" type="radio" name="userType" value="0">
                <label for="regular">Regular </label>
                br
                <input id="contributing" type="radio" name="userType" value="1">
                <label for="contributing">Contributing </label>
                br
                <input type="submit" value="Save">
                br
                br
            </form>

    div#followingPeople
        h2 People you follow: 
        each person in user.followingPersons
            a(href='/person/'+person)  #{person}
            br

    div#followingUser
        h2 Users you follow: 
    
        each userID in user.following
            br
            button(name = 'userID',onclick='unfollow(userID)') Unfollow
            a(href='/profile/'+userID) #{userID}
            br

    div#WatchList
        h3 Watch List: 
        each movie in user.watchlist
            br 
            a(href='/movie/'+movie.ID) #{movie.Title}
            br
    div#Recommends 
        h4 Recommended Movies: 
        each movie in similar
            br 
            a(href='/movie/'+movie.ID) #{movie.Title}
            br
    div#Reviews 
        h5 Reviews: 
        each review in user.reviews 
            a(href="/review/"+review.id) Review
            h  Score: #{review.score}
            h  Summary: #{review.sum}

    div#notifications 
        h5 Notification Center: