doctype html

html
    head
        title Person - #{person.name}
        style
            include .\styles\person.css
body
    include .\header
    br
    br
    h1 PogChamp movieDB

    h2 #{person.name}
    div#buttons
        div#follow
            <form action="/followPerson" method="POST">
                <input type="submit" value="Follow" id="follow">
            </form>
        div#unfollow    
            <form action="/unfollowPerson" method="POST" id="form2">
                <input type="submit" value="Unfollow" id="unfollow">
            </form>
    br
    br
    div#info
        div#history
            h3 Work History: 
            if person.writer.length > 0
                h4 Writer:
                each movie in person.writer
                    a(href='/movie/'+movie.ID)  #{movie.Title}
                    br
            if person.director.length > 0
                h4 Director: 
                each movie in person.director 
                    a(href='/movie/'+movie.ID) #{movie.Title}
                    br
            if person.actor.length > 0
                h4 Actor:
                each movie in person.actor 
                    a(href='/movie/'+movie.ID) #{movie.Title}
                    br
        div#Collaborator
            if person.freqCol.length > 0
                h3 Frequent Collaborator:
                each col in person.freqCol 
                    a(href='/profile'+col) #{col}
                    br
        